*{
    padding:0;
    margin: 0;   
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 15px;
}
.navbar{
    background-color: #F3EEEA;
}
.navbar-brand{
    font-size: 30px;  
}
.custom-search-input{
    width: 40%;
}
.left-menu{
    min-height: 100vh;
    background-color: #EBE3D5;
}
.right-menu{
    background-color:rgb(223, 223, 223)
}
.navbar-brand img{
    border-radius: 50px;    
}
.logo-title{
    font-family: pacifico;
    margin: 0px;
}
.logo-span{
    color:rgb(235, 88, 64);
}
.card-img-top {
    width: 70px; 
    height: 70px; 
}
.main-title{
    font-size: 1rem;
    color: #f38e82;
}
.card img{
    border-radius: 50px;    
    margin-right: 20px;
}
.card{
    border: none;
    background-color: #F3EEEA;
    border-radius: 0px;
    width: 100%;
}
.card-body p{
    font-size: 15px;
}
.main-img{
    width: 100%;
    height: 300px;
    opacity: 80%;
    filter:  contrast(0.7)  ;
}
h1,h5{
    text-align: center;
    color: #f38e82;
}
.list-group-item {
    border: none;
}
.list-container{
    padding: 10px 50px;
}
.custom-padding{
    padding: 0px 100px;
}
.serving-text
{
    margin: 15px;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}
.titles{
    text-align: center;
    color: #f38e82;
}
.second-title {
   color: gray;
}
.main-content-title{
    font-size: 1.5rem;
    margin: 60px;
}
.material-container{
    background-color:whitesmoke;
    border: 1px solid gray;
    padding: 10px;
}
